@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to bottom right,
    #fffbd5 10%,
    #aae0fa,
    #c2bcba,
    #faaa8f,
    #9bd3ae 90%
  );
  height: 100vh;
  background-attachment: fixed;
}

#root {
  height: 100vh;
  text-align: center;
}
